body {
    font-family: Arial, sans-serif;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0; /* Adjust the spacing here */
}

button:hover {
    background-color: #0056b3;
}

